# Ignore all files

*

# Unignore dirs

!*/

# Unignore common source files

!*.h
!*.cc
!*.c
!*.sh
!*.asm

# Unignore level files

!*.lvl

# Unignore common image files

!*.bmp
!*.jpg
!*.png

# Unignore common data files

!*.dae
!*.blender
!*.max
!*.3ds
!*.ply

# Unignore sounds

!*.mp3
!*.ogg

# Unignore other

!Makefile
!*.md
!LICENSE
!.gitignore